<table width="736px" height="395px" align="center" border="1px" bordercolor="#e7e7e7">
          <tr>
            <td>
              <table width="734px" height="380px" align="center" border="0px">
                <tr>
                  <td width="90px" height="90px" align="center">
                    <div class="myBox3">
                      <img src="/images/tiny-tracking.jpg">
                    </div>
                  </td>
                  <td>
                    <div id="titre">
                      <b>Tracking</b>
                    </div>
                    <div id="retour">

                      <%= link_to "retour...", "/home/index" %>

                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <img src="/images/glg.jpg">
                  </td>
                  <td>
                    <table border="0px" width="635px" height="280px" align="center">
                      <tr>
                        <td width="302px">
                          <div class="myBox6">
                          <div id="texte-contenu">
                            <p>
                              Un système de tracking de véhicule combine  l'installation d'un dispositif électronique avec un logiciel informatique                              spécialisé permettant au propriétaire de localiser son véhicule quelque soit sa position.
                            </p>
                          </div>
                          </div>
                        </td>
                        <td align="center">
                          <img src="/images/gt.png">
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div class="myBox13">
                          <div id="texte-contenu">

                            <b>Fleet service</b> vous permet de surveiller et gérer l'ensemble des véhicules de votre entreprise à partir de votre                            téléphone mobile ou d'un ordinateur.

                          <div id="couleur-liste">
                            <ul>
                              <b>
                                <li>Limitez les déplacements non autorisés</li>
                                <li>Localisez et guidez vos véhicules</li>
                                <li>Contrôlez les mouvements de votre flotte</li>
                                <li>Protégez vos biens non gardés</li>
                                <li>Générez un reporting automatique des trajets</li>
                                <li>Affichez simultanément l'ensemble de vos véhicules sur l'écran</li>
                                <li>Active d'un simple clic différentes options de tracking pour suivre des véhicules volés ou des marchandises de                                valeur</li>
                              </b>
                            </ul>
                          </div>
                          </div>
                          </div>
                        </td>
                        <td width="302px" align="center">
                          <img src="/images/img2-tracking.png">
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>