<table width="736px" height="395px" align="center" border="1px" bordercolor="#e7e7e7">
          <tr>
            <td>
              <table width="734px" height="380px" align="center" border="0px">
                <tr>
                  <td width="90px" height="90px" align="center">
                    <div class="myBox3">
                      <img src="/images/tiny-gps.jpg">
                    </div>
                  </td>
                  <td>
                    <div id="titre">
                      <b>GEOLOCALISATION</b>
                    </div>
                    <div id="retour">

                      <%= link_to "retour...", "/home/index" %>

                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <img src="/images/glg.jpg">
                  </td>
                  <td>
                    <table border="0px" width="635px" height="280px" align="center">
                      <tr>
                        <td>
                          <div class="myBox4">
                          <div id="texte-contenu">
                            <p>
                              La géolocalisation ou géoréférencement est un procédé permettant de positionner un objet (une personne, une                              information...) sur un plan ou une carte à l'aide de ses coordonnées géographiques.
                            </p>
                            <p>
                              Cette opération est réalisée à l'aide d'un terminal capable d'être localisé (grâce à un récepteur GPS ou à d'autres                              techniques) et de publier (en temps réel ou de façon différée) ses coordonnées géographiques (latitude/longitude).
                            </p>
                          </div>
                          </div>
                        </td>
                        <td>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div class="myBox5">
                          <div id="texte-contenu">

                            Grâce à son système GPS embarqué <b>Tramigo T22, Fleet Service</b>
                            fournit en temps réel la
                            position exacte du  véhicule ainsi que d'autres informations telles que:

                          <div id="couleur-liste">
                            <ul>
                              <b>
                                <li>le trajet parcouru</li>
                                <li>la vitesse et des données kilométriques</li>
                                <li>les points d'intérêt les plus proches</li>
                              </b>
                            </ul>
                          </div>
                          </div>
                          </div>
                        </td>
                        <td width="210px" height="154px" align="center">
                          <img src="/images/img1-gps.png">
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>