<table width="736px" height="395px" align="center" border="0px" bordercolor="#e7e7e7">
          <tr>
            <td>
              <p>
              <div id="retour">

                      <%= link_to "retour...", "/home/index" %>

              </div>
              </p>
              <table width="730px" align="center" border="1px" id="texte-contenu" bordercolor="#e7e7e7">
                <tr>
                  <td width="500px">
                      <b><u><p>Tramigo T22</p></u></b>
                      Livré avec :
                      <div id="couleur-liste">
                        <ul>
                          <b>
                            <li>CD d'installation avec : logiciel de gestion de flotte pour PC M1 Fleet et application pour télépohone GSM M1 Love,                            manuel d'installation</li>
                            <li>Chargeur auto</li>
                            <li>Micro</li>
                          </b>
                        </ul>
                      </div>
                     Principales fonctionnalités du T22 :
                     <div id="couleur-liste">
                        <ul>
                          <b>
                            <li>Localisation par GPS, communication par SMS</li>
                            <li>Base de données de Points d'intérêt Côte d'Ivoire et Afrique de l'Ouest</li>
                            <li>3 numéros de téléphone programmables</li>
                            <li>Suivi de la vitesse, reporting de trajet, détecteur de mouvement</li>
                            <li>Bouton panique intégré, avec 10 numéros programmables</li>
                            <li>Option Immobilisation à distance par SMS</li>
                            <li>Kit d'installation auto comprenant un boîtier d'installation, câble d'alimentation, bouton SMS externe, antenne GPS                            externe, guide d'installation</li>
                          </b>
                        </ul>
                      </div>
                  </td>
                  <td align="center">
                    <div id="align-tab">253.390 FCFA</div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <b><u><p>Frais d'installation, mise en service</p></u></b>
                  </td>
                  <td align="center">
                    <div id="align-tab">42.372 FCFA</div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <b><u><p>Abonnement trimestriel comprenant :</p></u></b>
                    <div id="couleur-liste">
                        <ul>
                          <b>
                            <li>Abonnement GSM</li>
                            <li>Entretien du T22</li>
                            <li>Assistance technique</li>
                          </b>
                        </ul>
                      </div>
                  </td>
                  <td align="center">
                    <div id="align-tab">38.901 FCFA</div>
                  </td>
                </tr>
                <tr>
                  <td align="right">
                    <p><u><b>TOTAL HTVA:</b></u></p>
                  </td>
                  <td>
                    <div id="align-tab">334.663 FCFA</div>
                  </td>
                </tr>
                <tr>
                  <td align="right">
                    <p><u><b>TVA:</b></u></p>
                  </td>
                  <td>
                    <div id="align-tab">60.239 FCFA</div>
                  </td>
                </tr>
                <tr>
                  <td align="right">
                    <p><u><b>TOTAL TTC  A PAYER:</b></u></p>
                  </td>
                  <td>
                    <div id="align-tab">394.902 CFA</div>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>