<table width="736px" height="395px" align="center" border="1px" bordercolor="#e7e7e7">
          <tr>
            <td>
              <table width="734px" height="380px" align="center" border="0px">
                <tr>
                  <td width="90px" height="90px" align="center">
                    <div class="myBox3">
                      <img src="/images/tiny-securite.jpg">
                    </div>
                  </td>
                  <td>
                    <div id="titre">
                      <b>Sécurité</b>
                    </div>
                    <div id="retour">

                      <%= link_to "retour...", "/home/index" %>

                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <img src="/images/gp.jpg">
                  </td>
                  <td>
                    <table border="0px" width="635px" height="280px" align="center">
                      <tr>
                        <td width="302px">
                          <div class="myBox7">
                          <div id="texte-contenu">
                              Le T22 traque les comportements abusifs et dangereux de conduite du chauffeur selon des paramètres de surveillance                              personnalisables:
                          <div id="couleur-liste">
                            <ul>
                              <b>
                                <li>Excès de vitesse</li>
                                <li>Entrée/Sortie de zone</li>
                                <li>Dépassement de temps de conduite</li>
                              </b>
                            </ul>
                          </div>
                            L'analyse de ces informations fournit à l'opérateur un outil efficace pour diminuer les coûts de carburant, tout en                            maximisant la sécurité des chauffeurs et des autres usagers de la route.
                          </div>
                          </div>
                        </td>
                        <td>
                          <div class="myBox8">
                              <div id="texte-contenu">
                              <div id="couleur-liste"><b><p>Communication-Fonction écoute</p></b></div>Le T22 embarqué possède une fonctionnalité                               d'écoute révolutionnaire intégrée, qui lui permet de restituer tout propos tenu dans un rayon de 5 mètres environ.
                              En l'absence de réseau GSM, le T22 conserve toutes les informations, et vous les transmet dès que le véhicule entre dans                               une zone couverte.
                              </div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <p>
                            <div class="myBox9">
                                <div id="texte-contenu">
                                <div id="couleur-liste"><b><p>Immobilisation</p></b></div><b>Fleet Service</b> reçoit les données relatives à votre                                véhicule (position, vitesse, direction) et vous permet de l'immobiliser à distance, par un simple SMS.
                                </div>
                            </div>
                          </p>
                          <p>
                            <div class="myBox10">
                                <div id="texte-contenu">
                                <div id="couleur-liste"><b><p>Récupération</p></b></div>Les opérations de récupération des véhicules sont réalisées par                                un partenaire spécialisé.
                                Notre centre de contrôle permet aux opérateurs de relayer 24h/24 et 7j/7 les informations nécessaires à nos partenaires                                en cas de braquage.
                                </div>
                            </div>
                          </p>
                        </td>
                        <td width="300px" height="215px" align="center">
                          <img src="/images/img3-securite.png">
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>