<table width="736px" height="395px" align="center" border="1px" bordercolor="#e7e7e7">
          <tr>
            <td width="736px" height="44px">
              <img src="/images/body_head.png"/>
            </td>
          </tr>
          <tr>
            <td>
              <table width="600px" height="380px" align="center" border="0px">
                <tr>
                  <td width="200px" height="160px">

                    <%= link_to image_tag("/images/produits.jpg"), "/produits/index" %>

                  </td>
                  <td width="200px" height="160px">

                    <%= link_to image_tag("/images/gps.jpg"), "/gps/index" %>

                  </td>
                  <td width="200px" height="160px">

                    <%= link_to image_tag("/images/tracking.jpg"), "/tracking/index" %>

                  </td>
                </tr>
                <tr>
                  <td width="200px" height="160px">

                  </td>
                  <td width="200px" height="160px">
                    
                    <%= link_to image_tag("/images/securite.jpg"), "/securite/index" %>

                  </td>
                  <td width="200px" height="160px">

                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>