<table width="736px" height="395px" align="center" border="1px" bordercolor="#e7e7e7">
          <tr>
            <td width="736px" height="44px">
              <img src="/images/body_head.png"/>
            </td>
          </tr>
          <tr>
            <td>
              <table width="600px" height="380px" align="center" border="0px">
                <tr>
                  <td width="200px" height="160px">
                    <a href="#"><img src="/images/produits.jpg"/></a>
                  </td>
                  <td width="200px" height="160px">
                    <a href="#"><img src="/images/gps.jpg"/></a>
                  </td>
                  <td width="200px" height="160px">
                    <a href="#"><img src="/images/tracking.jpg"/></a>
                  </td>
                </tr>
                <tr>
                  <td width="200px" height="160px">
                    <a href="#"><img src="/images/securite.jpg"/></a>
                  </td>
                  <td width="200px" height="160px">
                    <a href="#"><img src="/images/personnel.jpg"/></a>
                  </td>
                  <td width="200px" height="160px">
                    <a href="#"><img src="/images/maintenance.jpg"/></a>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>